html{
    min-width: 1280px;
}
body {
    font-size: 2em;
}

#top {
    height: 120px;
    border-bottom: 2px solid #ddd;
}

#top_box {
    height: 100%;
}

#top_logo {
    height: 100%;
}

#top_logo img {
    width: 200%;
    height: 100%;
}

#top_right {
    line-height: 120px;
    font-size: 2em;
}

#game_container .gbr_title {
    margin-left: -50px;
    min-height: 114px;
    font-size: 3em;
}

.gbr_info {
    width: 800px;
}

.gbr_info {
    padding-left: 0px;
    margin-left: -50px;
}

#game_container .gbr_info ul li {
    width: 100%;
    font-size: 1.1em;
    line-height: 1.2em;
    height: auto;
    float: none;
}

.gbr_in_onecenter p{
    width: 744px;
}

.gbr_info ul li:before {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.gamebox_left {
    width: 350px;
    margin-top: 150px;
}

.gamebox_right {
    position: relative;
    z-index: 1;
    width: 700px;
}

.bigicon {
    left: 0;
}

.gbr_intro {
    width: 800px;
    margin-left: -60px;
}

.gbr_in_onecenter {
    line-height: 1.3em;
    font-size: 1.2em;
}

#btn_one {
    margin: -40px 150px;
    width: 495px;
    height: 155px;
    font-size: 30px;
    line-height: 120px;
}

#btn_one .down_icon {
    width: 155px;
    background-size: 50%;
}

#btn_one a {
    height: 100%;
    padding-left: 125px;
    font-size: 1.4em;
    line-height: 155px;
}

.float_left {
    margin-left: 120px;
}

.float_right {
    float: right;
    margin-right: -90px;
}

.game_box {
    width: 1200px;
    height: auto;
    padding-bottom: 100px;
}

#nav {
    right: -220px;
}

#nav_top {
    width: 56px;
    height: 64px;
    background-size: 100%;
    margin-left: 50px;
}

.nav_white_dot {
    width: 10px;
    height: 10px;
    margin: 1px 70px;
}

.nav_big_dot {
    width: 64px;
    height: 64px;
    border-radius: 120px;
    border: solid 4px #fff;
    margin: 2px 40px;
}

#nav .nav_big_icon {
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    border: solid 10px #fff;
    border-radius: 120px;
    margin: 4px 10px;
}

.nav_bottom {
    width: 80px;
    height: 50px;
    line-height: 44px;
    border-radius: 80px;
    border-width: 4px;
    background: rgba(255, 255, 255, 0.5);
    padding: 8px;
    margin: 4px 25px;
    color: #178ba2;
}

#foot_text {
    font-size: 1.2em;
    line-height: 2em;
}
